

.front{
    background-size: cover;
    background-image: url(img/tornado.jpg);
    background-repeat:repeat-y;
width:600px;
    height: 600px;
    align-content: center;
}

.head{
    text-align: center;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    color:aquamarine;
    padding-top: 90px;
}

.dates{
    text-align: center;
    color: white;
}